<div class="container">
<p class="well">
    제목 : <%= @post.title %><br>
    내용 : <%= @post.content %><br>
    시간 : <%= @post.created_at %><br>
    <hr>
    <%= @post.image_url_identifier %> : <%= image_tag @post.image_url.url %><br>
    <% @post.comments.each do |c| %>
        <%= c.user.present? ? c.user.email : "글쓴이 없음" %> : <%= c.content %><br>
    <a href="/home/comment_delete/<%=c.id%>">댓글 삭제</a><br>
    <% end %>
    <form action="/home/comment" method="POST">
        <input type="hidden" value="<%=@post.id %>" name="comment_hidden">
        <input type="text" name="comment_id" placeholder="댓글 내용">
        <button type="submit">댓글 달기</button>
    </form>
</p>
<br>
<a href="/home/update/<%=@post.id%>">수정하기</a><br>
<a href="/home/delete/<%=@post.id%>">삭제하기</a><br>
<a href="/home/index">뒤로가기</a><br>
</div>